.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav{
        width: 100%;
        display: flex;
        justify-content: inherit;
        margin: 0 8%;
    }
}